<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>layui在线调试</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <style>
        body{margin: 10px;}
        .demo-carousel{height: 200px; line-height: 200px; text-align: center;}
    </style>
</head>
<body>
<button type="button" class="layui-btn" id="test3"><i class="layui-icon"></i>上传文件</button>
<p th:text="${map}"></p>

<script src="layui/layui.js"></script>
<script>


    layui.use(['laydate', 'laypage', 'layer', 'table','upload'], function(){
        var laydate = layui.laydate //日期
            ,laypage = layui.laypage //分页
            ,layer = layui.layer //弹层
            ,table = layui.table //表格
            ,upload=layui.upload//上传文件
        upload.render({
            elem: '#test3'
            ,url: '/upload'
            ,accept: 'file' //普通文件
            ,done: function(msg){
               alert(msg)
            }
        });



    });
</script>
</body>
</html>
